.videoFooter {
  position: relative;
  bottom: 20%;
  color: white;
  margin-left: 30px;
}

.videoFooter__text h3 {
  padding-bottom: 20px;
}

.videoFooter__text p {
  padding-bottom: 20px;
}

.videoFooter__music {
  display: flex;
}

.videoFooter_record {
  animation: spinTheRecord 3s infinite linear;
  position: absolute;
  bottom: 5px;
  right: 20px;
  height: 50px;
  filter: invert(1);
}

.videoMusicFooter__text {
  width: 80%;
  overflow-x: hidden;
}

.videoMusicFooter__text p {
  animation: moveTheText 3s infinite linear;
}

@keyframes spinTheRecord {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveTheText {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}

@media only screen and(max-width: 440px) {
  .videoFooter {
    bottom: 22px;
  }

  .videoFooter__text {
    width: 78%;
  }
}
